<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--<mapper namespace="org.spring.springboot.dao.res">-->
<mapper namespace="org.spring.springboot.dao.yldres.DailyActiveUserLogDao">
    <resultMap id="BaseResultMap" type="org.spring.springboot.domain.yldres.active.DailyActiveUserLogPO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="active_count" jdbcType="BIGINT" property="activeCount"/>
        <result column="count_time" jdbcType="VARCHAR" property="countTime"/>
    </resultMap>

    <sql id="Base_Column_List">
		id,`active_count`,`count_time`
	</sql>

    <select id="fetchDailyActiveUserLogByPage" parameterType="org.spring.springboot.domain.yldres.active.DailyActiveUserLogQuery" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `daily_active_user_log`
        <where>
            <if test="countTime != null">
                count_time = #{countTime}
            </if>
        </where>
        limit #{startRow}, #{pageSize}
    </select>

    <select id="fetchDailyActiveUserLogByPageCount" resultType="java.lang.Integer">
        select
        count(1)
        from `daily_active_user_log`
        <where>
            <if test="countTime != null">
                count_time = #{countTime}
            </if>
        </where>
    </select>


    <insert id="saveDailyActiveUserLog" parameterType="org.spring.springboot.domain.yldres.active.DailyActiveUserLogPO" useGeneratedKeys="true"
            keyProperty="id">
		insert into
            `daily_active_user_log`(`id`,`active_count`,`count_time`)
		values
		(#{id},#{activeCount},#{countTime})
	</insert>

</mapper>
