<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.spring.springboot.dao.pelbsData.FeedbackDao">

    <resultMap id="BaseResultMap" type="org.spring.springboot.domain.pelbsData.feedback.Feedback">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="pid" jdbcType="BIGINT" property="pid"/>
        <result column="describe" jdbcType="VARCHAR" property="describe"/>
        <result column="time" jdbcType="INTEGER" property="time"/>
        <result column="packageidx" javaType="INTEGER" property="packageidx" />

    </resultMap>

    <sql id="Base_Column_List">
		id, pid,`describe`, `time`, packageidx
	</sql>

    <select id="fetchFeedback" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from feedback
        order by id DESC
    </select>
</mapper>
