<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--<mapper namespace="org.spring.springboot.dao.res">-->
<mapper namespace="org.spring.springboot.dao.game.PlayerAgentInfoDao">
    <resultMap id="BaseResultMap" type="org.spring.springboot.domain.game.PlayerAgentInfo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="agentPid" jdbcType="BIGINT" property="agentPid"/>
        <result column="agentName" jdbcType="VARCHAR" property="agentName"/>
        <result column="createTime" jdbcType="INTEGER" property="createTime"/>
        <result column="userNum" jdbcType="INTEGER" property="userNum"/>
        <result column="totalProfit" jdbcType="FLOAT" property="totalProfit"/>
        <result column="curProfit" jdbcType="FLOAT" property="curProfit"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,state,agentPid,`agentName`,createTime,userNum,totalProfit,curProfit
    </sql>

    <select id="fetchAgentInfos" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
            from playerAgentInfo
    </select>

    <update id="updateAgentState" parameterType="org.spring.springboot.domain.game.PlayerAgentInfo">
        update
            playerAgentInfo
        set
            <if test="state!=null">
                state=#{state}
            </if>
        where
            id=#{id}
    </update>
</mapper>
